 <div class="user-details">
  <h1> About Me </h1>
  <p> {{site.user_description}} </p>
</div>
<div class="user">
  <div class="tech">
    <i class="devicon-html5-plain-wordmark"></i>
    <i class="devicon-bootstrap-plain-wordmark colored"></i>
    <i class="devicon-jquery-plain-wordmark colored"></i>
    <i class="devicon-python-plain-wordmark colored"></i>
    <img class="matlab-logo" src="{{ "/assets/img/matlab-logo.jpg" | prepend: site.baseurl }}">
    <i class="devicon-csharp-plain colored"></i>
    <i class="devicon-dot-net-plain-wordmark colored"></i>
    <i class="devicon-javascript-plain colored"></i>
    <i class="devicon-nodejs-plain-wordmark"></i>
    <i class="devicon-git-plain"></i>
    <i class="devicon-mysql-plain-wordmark colored"></i>
    <i class="devicon-postgresql-plain-wordmark colored"></i>
    <i class="devicon-mongodb-plain-wordmark colored"></i>
    <i class="devicon-gulp-plain colored"></i>
    <i class="devicon-wordpress-plain-wordmark colored"></i>

    <p><strong>Other programming languages:</strong> Haskell, Racket, C++, Java
    <p><strong>Python libraries:</strong>  Tensorflow, Keras, Nltk, Scikit-learn, Pandas, Numpy, Scipy, Matplotlib,  Beautifulsoup, Scrapy, OpenCV, Pillow/PIL</p>
  </div>
</div>
<br>
  <hr>