<div class="user-details">
  <h1> Education </h1>
</div>
<div class="user-projects">
	<h3><strong>University of Toronto (Sep. 2013 - May 2017)</strong></h3>
	<p><strong>Degree:</strong> Computer Science Specialist with focus in Artificial Intelligence</p>
	<h4>Relevant Courses:</h4>
    <ul>
      <li><strong>CSC411:</strong> Machine Learning and Data Mining</li>
      <li><strong>CSC401:</strong> Natural Language Computing</li>
      <li><strong>CSC420:</strong> Image Understanding (Computer Vision)</li>
      <li><strong>CSC384:</strong> Introduction to Artificial Intelligence</li>
      <li><strong>CSC321:</strong> Neural Networks for Machine Learning</li>
      <li><strong>CSC324:</strong> Functional Programming </li>
      <li><strong>CSC320:</strong> Introduction to Visual Computing</li>
      <li><strong>CSC373:</strong> Algorithm Design, Analysis &amp; Complexity</li>
    </ul>
</div>