<div class="user-details">
  <h1> Work Experience </h1>
</div>
<div class="user-projects">
    <h3>Three Point Turn, Software Developer (Sep. 2014 - Present)</h3>
    <ul>
      <li>SQL Server, ASP.NET MVC, Entity Framework, and other C# libraries for updating and maintaining warehouse automation web applications and other business automation apps.</li>
      <li>Cordova mobile app development.</li>
      <li>Python (Pandas, BeautifulSoup and Scrapy) for web scraping and variable substitution in several HTML and PHP files.</li>
      <li>Microsoft Bot Framework and Language Understanding Intelligent Service (LUIS) for improvement of internal dev ops.</li>
    </ul>

    <h3>Cookthru Inc., Software Engineer Internship (May 2014 - Sep. 2014)</h3>
    <p><strong>URL:</strong> <a target="_blank" href="http://savaa.co">http://savaa.co</a></p>
    <ul>
      <li>Used Java to process XML files in order to make a proper database out of them using DOM and SAX.</li>
      <li>Regression Testing on Desktop, Mobile Websites and iPad app.</li>
      <li>Data Analytics - Tracking user activity and workflow on the website.</li>
    </ul>
</div>
<br><hr>